<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vachanasaahitya.vachanas">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.VachanakaarasActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            android:label="@string/activity_name_vachanakaras"/>

        <activity android:name=".ui.activities.LaunchActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:label="@string/app_name" android:theme="@style/AppTheme.NotitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.VachanasActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:label="@string/activity_name_vachanas">
        </activity>

        <activity android:name=".ui.activities.VachanakaaraDetailsActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>

        <activity android:name=".ui.activities.InfoActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>

        <activity android:name=".ui.activities.VachanaDetailsActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>

    </application>
</manifest>
